$primary: #394856;
$secondary: #a63b35;

$border-radius: 0rem;
$border-radius-sm: $border-radius;
$border-radius-lg: $border-radius;

$font-family-base: "Source Serif Pro";
$font-size-base: 1.25rem;

$table-group-separator-color: $border-color;

.Toastify__toast-theme--light.Toastify__toast--success {
  background-color: #d1e7dd;
  color: #0f5132;
  font-family: "Source Serif Pro", serif;
}
