$primary: #394856;
$secondary: #a63b35;

$border-radius: 0rem;
$border-radius-sm: $border-radius;
$border-radius-lg: $border-radius;

$font-family-base: "Martel";

$table-group-separator-color: $border-color;
