@font-face {
  font-family: $font-family-base;
  src: url("/fonts/SourceSerifPro-Regular.ttf");
}

@font-face {
  font-family: $handwritten-font-family;
  src: url("/fonts/GreatVibes-Regular.ttf") format("truetype");
}

.masthead .display-1 {
  font-size: 6rem;
}

.handwritten {
  font-family: $handwritten-font-family;
}
